@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

/* Variables */
:root {
	--projectsFontColor: #202221;
	--projectsBGColor: #E8ECEB;
	--projectCardFontColor: #FCF5EA;
	--projectCardBGColor: #E09E50;
	--experienceFontColor: #FCF5EA;
	--experienceBGColor: #8CBDB9;
	--footerFontColor: #FCF5EA;
	--footerBGColor: #2D3E4E;
}
/* End Variables */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* Hamburger Section */
#hamburger .hamburger {
	height: 60px;
	width: 60px;
	left: 7px;
	bottom: 7px;
	border: 3px solid var(--projectsFontColor);
	background-color: var(--projectsBGColor);
	border-radius: 50%;
	position: fixed;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(.8);
	-webkit-tap-highlight-color: transparent;
}
#hamburger .hamburger .bar {
	height: 3px;
	width: 30px;
	position: relative;
	left: 12px;
	top: 25px;
	background-color: var(--projectsFontColor);
	z-index: -1;
}
#hamburger .hamburger .bar::before,
#hamburger .hamburger .bar::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: var(--projectsFontColor);
	transition: .3s ease;
	transition-property: top, bottom, background-color;
}
#hamburger .hamburger .bar::before {
	bottom: 11px;
}
#hamburger .hamburger .bar::after {
	top: 11px;
}
#hamburger .hamburger.active .bar::before {
	bottom: 0;
}
#hamburger .hamburger.active .bar::after {
	top: 0;
}
#hamburger .nav-list ul {
	list-style: none;
	position: fixed;
	bottom: -275px;
	left: -13px;
	opacity: 0;
	background-color: transparent;
	width: 300px;
	height: auto;
	display: block;
	flex-direction: column;
	justify-content: left;
	align-items: left;
	z-index: 1;
	overflow-x: hidden;
	transform: rotate(180deg) scale(0);
	transition: .4s ease-out;
	transition-property: bottom, opacity, transform;
}
#hamburger .nav-list ul.active {
	bottom: 63px;
	opacity: 1;
	transform: rotate(0) scale(1);
}
#hamburger .nav-list ul a {
	font-size: 3rem;
	font-weight: 700;
	letter-spacing: .2rem;
	text-decoration: none;
	color: var(--projectsFontColor);
	display: block;
}
#hamburger .nav-list ul li {
	display: inline-block;
	margin: 10px;
	padding: 12px;
	background-color: var(--projectsBGColor);
	border-radius: 25px;
}
/* End Hamburger Section */

/* Header Section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
}
#header .header {
	min-height: 50px;
	background-color: var(--footerBGColor);
	transition: .3s ease background-color;
}
#header h1 {
	color: var(--footerFontColor);
	opacity: 0;
	font-size: 0;
	font-weight: 300;
	text-align: center;
	margin: 0 auto;
	transform: scale(0);
	transform-origin: bottom;
	transition: opacity .3s ease, transform .3s ease, font-size .3s ease;
}
#header h1:hover {
	color: var(--experienceBGColor);
}
#header .nav-bar {
	flex-direction: row;
	text-align: right;
	max-width: 100%;
}
#header .nav-list ul {
	list-style: none;
	position: initial;
	background-color: transparent;
	width: fit-content;
	height: auto;
	left: 100%;
	top: 0;
	display: block;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: .5s ease left;
}
#header .nav-list ul a {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: .2rem;
	text-decoration: none;
	color: var(--footerFontColor);
	padding: 10px;
	display: block;
}
#header .nav-list ul li:hover a {
	color: var(--experienceBGColor);
}
#header .nav-list ul li {
	display: inline-block;
}
/* End Header Section */

/* Projects Section */
#projects {
	background-color: var(--projectsBGColor);
}
#projects .projects {
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
	padding: 100px 0;
	color: var(--projectsFontColor);
}
#projects h1 {
	font-size: clamp(7rem, 7vw, 10rem);
	font-weight: 500;
	margin-bottom: 10px;
	letter-spacing: .2rem;
	text-align: center;
}
#projects h2 {
	font-size: clamp(1.75rem, 2vw, 2.75rem);
	font-weight: 500;
	margin-bottom: 10px;
	letter-spacing: .2rem;
	text-align: center;
}
#projects .projects-top {
	margin: 0 auto;
}
#projects .projects-row {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
#projects .decor-arrow {
	display: flex;
	width: 96px;
	height: 0;
	transform: scaleY(0);
	transform-origin: bottom;
	opacity: 0;
	filter: invert(67%) sepia(39%) saturate(675%) hue-rotate(350deg) brightness(96%) contrast(82%);
	transition: height .5s ease, opacity .5s ease, transform .5s ease;
}
#projects .decor-arrow.active {
	height: 14px;
	transform: scaleY(1);
	opacity: 1;
	transition: height .2s ease, opacity .2s ease, transform .2s ease, margin-left .25s ease-in-out;
}
#projects .project-section {
	height: 0;
	transform: scaleY(0);
	transform-origin: top;
	opacity: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	background-color: var(--projectCardBGColor);
	transition: height .5s ease, opacity .5s ease, transform .5s ease;
}
#projects .project-section.active {
	height: 600px;
	transform: scale(1);
	opacity: 1;
}
#projects .project-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	width: 0;
	opacity: 0;
	transform: scaleX(0);
	transition: width .5s ease, opacity .5s ease, transform .5s ease;
}
#projects .project-content.active {
	width: 100%;
	transform: scaleX(1);
	opacity: 1;
}
#projects .project-item h2 {
	font-size: clamp(3.5rem, 3vw, 4rem);
	color: var(--footerFontColor);
	padding: 10px;
}
#projects .project-video iframe {
	height: 0;
	width: 0;
	transform: scaleY(0);
	transform-origin: top;
	opacity: 0;
	transition: height .5s ease, width .5s ease, opacity .5s ease, transform .5s ease;
}
#projects .project-video iframe.active {
	height: clamp(196.88px, 28.13vw, 366px);
	width: clamp(350px, 50vw, 650px);
	transform: scaleY(1);
	opacity: 1;
}
#projects .project-desc {
	width: 50%;
	display: flex;
	text-align: left;
	align-items: left;
	justify-content: left;
	flex-direction: column;
	padding-left: 70px;
	color: var(--projectCardFontColor);
	transform: scaleY(0);
	opacity: 0;
	transition: opacity .5s ease, transform .5s ease;
}
#projects .project-desc.active {
	transform:scaleY(1);
	opacity: 1;
}
#projects .project-desc h1 {
	font-size: clamp(3.5rem, 2.5vw, 4.5rem);
	text-align: left;
	color: var(--projectCardFontColor);
}
#projects .project-desc p {
	font-size: clamp(1.7rem, 1.2vw, 2rem);
	margin: 5px;
}
#projects .project-icons {
	display: flex;
	align-items: left;
	justify-content: left;
	flex-direction: row;
}
#projects .project-link {
	width: clamp(45px, 5vw, 60px);
	margin: 15px;
	filter: brightness(0) saturate(100%) invert(92%) sepia(69%) saturate(390%) hue-rotate(294deg) brightness(112%) contrast(98%);
}
#projects .project-link:hover {
	filter: brightness(0) saturate(100%) invert(79%) sepia(32%) saturate(258%) hue-rotate(126deg) brightness(87%) contrast(87%);
}
#projects .project-item {
	height: 275px;
	width: 475px;
	flex-basis: 30%;
	margin: 1.5% 1.5% 0 1.5%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 10px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	cursor: pointer;
	background-size: cover;
	background-position: auto;
}
#projects .project-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: var(--footerBGColor);
	opacity: .6;
	z-index: -1;
}
#projects .project-item-diff1 {
	flex-basis: 90%;
	margin-top: 4.8%;
}
#projects .project-item-diff2 {
	flex-basis: 46.4%;
	margin-top: 2.5%;
}
#projects .project-item-diff3 {
	flex-basis: 100%;
	margin-top: 10%;
}
/* End Projects Section */

/* Experience Section */
#experience {
	background-color: var(--experienceBGColor);
}
#experience .experience {
	flex-direction: column;
	margin: 0 auto;
	padding: 100px 0;
	max-width: 700px;
	color: var(--experienceFontColor);
	letter-spacing: .2rem;
	text-align: center;
}
#experience .experience-top {
	max-width: 500px;
	margin: 0 auto;
}
#experience .icon {
	width: clamp(30px, 4vw, 45px);
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 0 auto;
}
#experience h1 {
	font-size: clamp(4rem, 6vw, 6rem);
	font-weight: 300;
	margin-bottom: 10px;
}
#experience h2 {
	font-size: clamp(2.5rem, 4vw, 3rem);
	font-weight: 500;
	margin-bottom: 5px;
}
#experience h3 {
	font-size: clamp(2rem, 3vw, 2.5rem);
	font-weight: 500;
	margin-bottom: 5px;
}
#experience h4 {
	font-size: clamp(1.5rem, 2vw, 2rem);
	font-weight: 500;
	margin-bottom: 10px;
}
#experience p {
	font-size: clamp(1rem, 1vw, 1.5rem);
	font-weight: 500;
	margin-bottom: 10px;
	font-weight: 300;
	margin-bottom: 10px;
	max-width: 400px;
}
#experience .experience-bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#experience .arrow {
	width: clamp(40px, 4vw, 60px);
	filter: invert(95%) sepia(16%) saturate(577%) hue-rotate(305deg) brightness(107%) contrast(97%);
}
/* End Projects Section */

/* Footer */
#footer {
	background-color: var(--footerBGColor);
}
#footer .footer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
	height: clamp(130px, 15.5vw, 170px);
	flex-direction: column;
	transition: height .5s ease;
	position: relative;
}
#footer .footer.active {
	height: clamp(480px, 65vw, 640px);
}
#footer .expand-footer {
	width: 40px;
	margin-top: 5px;
	cursor: pointer;
	top: 0;
	position: absolute;
}
#footer .expand-footer img {
	transform: rotate(0deg);
	transition: transform .5s ease;
	filter: invert(95%) sepia(16%) saturate(577%) hue-rotate(305deg) brightness(107%) contrast(97%);
}
#footer .expand-footer img:hover {
	filter: invert(79%) sepia(38%) saturate(229%) hue-rotate(126deg) brightness(87%) contrast(83%);
}
#footer .expand-footer img.active {
	transform: rotate(-540deg);
}
#footer h1 {
	font-size: clamp(2rem, 3vw, 2.5rem);
	color: var(--footerFontColor);
	font-weight: 500;
	letter-spacing: .1rem;
	top: clamp(37px, 4.25vw, 40px);
	position: absolute;
	transition: font-size .5s ease;
}
#footer h1.active {
	font-size: clamp(4rem, 6vw, 6rem);
}
#footer .social-icons {
	display: flex;
	position: absolute;
	bottom: clamp(25px, 3.5vw, 45px);
	transition: flex-direction .5s ease;
}
#footer .social-item {
	width: clamp(35px, 4vw, 45px);
	margin: 0 5px;
	transition: width .5s ease;
}
#footer .email-text,.twitter-text,.linkedin-text,.location-text {
	width: 0;
	transform: scaleX(0);
	transform-origin: left;
	opacity: 0;
	transition: width .5s ease, transform .5s ease, opacity .4s ease-out;
}
#footer .social-text.active {
	transform: scaleX(1);
	opacity: 1;
}
#footer .email-text.active {
	width: clamp(87px, 20vw, 195px);
}
#footer .linkedin-text.active {
	width: clamp(22px, 6vw, 58px);
}
#footer .location-text.active {
	width: clamp(0px, 10vw, 70px);
}
#footer .social-text p {
	font-size: clamp(.9rem, 2vw, 2rem);
	height: 65%;
	white-space: nowrap;
}
#footer p {
	font-size: clamp(.8rem, 1vw, 1.2rem);
	color: var(--footerFontColor);
	margin-bottom: clamp(0px, .5vw, 5px);
	bottom: 0;
	position: absolute;
}
#footer p a {
	color: var(--experienceBGColor);
	text-decoration: none;
}
/* End Footer */

/* Email Form */
.fcf-body {
	transform: scale(0);
	transform-origin: bottom;
	position: absolute;
	margin: 0;
	bottom: clamp(50px, 9vw, 100px);
	width: clamp(400px, 50vw, 600px);
	font-family: -apple-system, Arial, sans-serif;
	font-size: clamp(1.5rem, 2vw, 2rem);
	font-weight: 400;
	line-height: 1.5;
	color: var(--footerFontColor);
	text-align: left;
	opacity: 0;
	transition: transform .4s ease, opacity .4s ease;
}
.fcf-body.active {
	transform: scale(1);
	opacity: 1;
	transition: transform .5s ease, opacity .5s ease;
}

.fcf-form-group {
	margin-bottom: .5rem;
}

.fcf-input-group {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: stretch;
	align-items: stretch;
	width: 100%;
}

.fcf-form-control {
	display: block;
	resize: none;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: clamp(1.5rem, 2vw, 2rem);
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	outline: none;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
	border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
	height: auto;
}

textarea.fcf-form-control {
	font-family: -apple-system, Arial, sans-serif;
	height: auto;
}

label.fcf-label {
	display: inline-block;
	margin-bottom: 0.5rem;
}

.fcf-credit {
	padding-top: 10px;
	font-size: 2rem;
	color: #545b62;
}

.fcf-credit a {
	color: #545b62;
	text-decoration: underline;
}

.fcf-credit a:hover {
	color: #0056b3;
	text-decoration: underline;
}

.fcf-btn {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: clamp(1.5rem, 2vw, 2rem);
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
	.fcf-btn {
		transition: none;
	}
}

.fcf-btn:hover {
	color: #212529;
	text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.fcf-btn-primary:hover {
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
	box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
	padding: 0.5rem 1rem;
	font-size: clamp(1.5rem, 2.5vw, 2rem);
	line-height: 1.5;
	border-radius: 0.3rem;
}

.fcf-btn-block {
	display: block;
	width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
	margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
	width: 100%;
}
/* End Email Form */

/* Media Query */
@media only screen and (max-width: 1450px) {
	#hamburger .hamburger {
		display: inline-block;
	}
	#header .header {
		display: none;
	}
	#projects .project-section.active {
		height: 850px;
	}
	#projects .project-content {
		flex-direction: column;
	}
	#projects .project-desc {
		padding-top: 20px;
		width: 90%;
		height: 100%;
		padding-left: 0px;
	}
}
@media only screen and (max-width: 1000px) {
	#projects .project-item {
		height: 200px;
		width: 357px;
	}
	#footer .expand-footer {
		width: 30px;
	}
	#footer .expand-footer img:hover {
		filter: invert(95%) sepia(16%) saturate(577%) hue-rotate(305deg) brightness(107%) contrast(97%);
	}
	#footer .social-item.active {
		width: clamp(17px, 4vw, 45px);
	}
	.fcf-body {
		width: 90%;
	}
}
/* End Media Query */